<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center;font-family:Helvetica,Arial,sans-serif; font-size: 18px">
	    <div style="padding-bottom: 40px; padding-top: 40px;">
	        <img src="http://res.cloudinary.com/triskele/image/upload/v1465673621/triskele-logo-email.png" height="34" alt="Triskele">
	    </div>
	    
	    <div style="background-color: #1E88E5; padding-top: 2px; padding-bottom: 2px;">
	        <h1 style="color: white; font-size: 30px; line-height:160%">Tudo certo!</h1>
	    </div>

	    <div style="max-width: 768px; margin: auto; color: #757575">
	        <div style="width: 90%; margin: auto;">
	            <h2 style="font-weight: bold; color: #616161; margin-bottom: 32px;">Ol&aacute;, <b style="color: #1E88E5"><%= @user.name %></b>!</h2>
	            <p style="margin: 20px; margin-bottom: 32px;">Efetuamos sua reserva para a atividade: <a href="<%= @base_url %>aventura/<%= @service.id %>" style="text-decoration: none; color:#1E88E5;" target="_blank"><%= @service.name %></a>, <%= @service.daytime.to_s(:simple_day) %> às <%= @service.daytime.to_s(:hour) %>.</p>
	            <table style="width:100%">
					<tr>
						<td>Atividade:</td>
						<td><%= @service.name %></td>
						<td>R$ <%= @acquisition.base_price %></td> 
					</tr>
					<% if @acquisition.additional %>
						<tr>
							<td>Adicional:</td>
							<td><%= @acquisition.additional.description %></td>
							<td>R$ <%= @acquisition.additional.excess %></td> 
						</tr>
					<% end %>
					<tr>
						<td>Nº Pessoas</td>
						<td><%= @acquisition.slots %></td> 
					</tr>
					<tr>
						<td>Total</td>
						<% if @acquisition.additional %>
							<td>R$ <%= ( @acquisition.additional.excess + @acquisition.base_price.to_i ) * @acquisition.slots.to_i %></td>
						<% else %>
							<td>R$ <%= @acquisition.base_price * @acquisition.slots.to_i %></td>
						<% end %>
					</tr>
				</table>
	            <p style="margin: 20px; margin-bottom: 32px;">Qualquer d&uacute;vida entre em contato conosco por <a href="mailto:contato@triskele.me" style="color:#1E88E5;font-weight:bold;text-decoration:none;" target="_blank">contato@triskele.me</a>. Ou com <%= @professional.user.name %> por <%= @professional.user.email %> or <%= @professional.phone %>.</p>
	            <p style="margin: 20px; margin-bottom: 32px;">Obrigado por comprar conosco, esperamos que tenha um experi&ecirc;ncia incr&iacute;vel.</p>
	            <p style="margin: 20px; margin-bottom: 32px;">Abra&ccedil;os,<br>Equipe Triskele</p>
	        </div>
	        
	        <hr style="width:95%;border:0;border-top:1px solid #ddd; padding-bottom: 16px">
	        <div style="width: 90%; margin: auto; text-align: center; margin-bottom: 16px">
	            <p style="margin:0;color:#999;font-size:12px;padding-bottom:16px;">
	            Em caso de qualquer d&uacute;vida, fique &agrave; vontade para responder esse email ou nos contatar no
	              <a href="mailto:meajuda@triskele.me" style="color:#1E88E5;font-weight:bold;text-decoration:none;" target="_blank">meajuda@triskele.me</a>.
               	</p>
           	</div>
           	<a href="https://www.facebook.com/triskele.me/" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://www.facebook.com/triskele.me/">
          		<img alt="Facebook" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/facebook_triskele.png" width="32">
	        </a>
			<a href="https://twitter.com/triskele_me" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://twitter.com/triskele_me">
	          	<img alt="Twitter" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/twitter_triskele.png" width="32">
	        </a>
			<a href="https://www.linkedin.com/company/triskele" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://www.linkedin.com/company/triskele">
	          	<img alt="LinkedIn" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/linkedin_triskele.png" width="32">	
	        </a>
			<hr style="margin:auto;width:30px;border:0;border-top:1px solid #ddd;padding-bottom:16px;margin-top: 16px;">
			<p style="margin:auto;color:#999;font-size:12px;padding-bottom:40px;">Triskele 2016</p>
	    </div>
	</div>
  </body>
</html>