<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Nova Compra</h1>
		<!-- tem que pegar o link do profile do profissional, serviço e usuário que comprou, mudar quando der build -->
		<p><a href="/profile/<%= @user.id %>"><%= @user.name %></a> acabou de comprar a atividade:</p>
		<p><a href="/aventura/<%= @service.id %>"><%= @service.name %></a> de <a href="/profile/<%= @professional.id %>"><%= @professional.user.name %></a>.</p>
	</body>
</html>