<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Nova solicitação de pré-agendamento</h1>
		<!-- tem que pegar o link do profile do profissional, serviço e usuário que comprou, mudar quando der build -->
		<p><a href="/profile/<%= @user.id %>"><%= @user.name %></a> acabou de solicitar o pré-agendamento da atividade:</p>
		<p><a href="/aventura/<%= @service.id %>"><%= @service.name %></a> de <a href="/profile/<%= @professional.id %>"><%= @professional.user.name %></a> no dia <%= @appointment.daytime %></p>
		<%= if @appointment.doubt %>
			<h2>Dúvida:</h2>
			<p><%= @appointment.doubt %></p>
		<%= end %>
	</body>
</html>