<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Nova Compra</h1>
		<!-- tem que pegar o link do profile do profissional, serviço e usuário que comprou, mudar quando der build -->
		<p><a href="http://development.triskele.me:3000/profile/<%= @user.id %>"><%= @user.name %></a> acabou de comprar a atividade:</p>
		<p><a href="http://development.triskele.me:3000/aventura/<%= @service.id %>"><%= @service.name %></a> de <a href="http://development.triskele.me:3000/profile/<%= @professional.id %>"><%= @professional.user.name %></a>.</p>
		<table style="width:100%">
					<tr>
						<td style="text-align:left">Atividade:</td>
						<td style="text-align:left"><%= @service.name %></td>
						<td style="text-align:right">R$ <%= @acquisition.base_price %></td> 
					</tr>
					<% if @acquisition.additional %>
						<tr>
							<td style="text-align:left">Adicional:</td>
							<td style="text-align:left"><%= @acquisition.additional.description %></td>
							<td style="text-align:right">R$ <%= @acquisition.additional.excess %></td> 
						</tr>
					<% end %>
					<tr>
						<td style="text-align:left">Nº Pessoas</td>
						<td></td>
						<td style="text-align:right"><%= @acquisition.slots %></td> 
					</tr>
					<tr>
						<td style="text-align:left">Total</td>
						<td></td>
						<% if @acquisition.additional %>
							<td style="text-align:right">R$ <%= ( @acquisition.additional.excess.to_i + @acquisition.base_price.to_i ) * @acquisition.slots.to_i %></td>
						<% else %>
							<td style="text-align:right">R$ <%= @acquisition.base_price.to_i * @acquisition.slots.to_i %></td>
						<% end %>
					</tr>
				</table>
	</body>
</html>