<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Nova solicitação de pré-agendamento</h1>
		<!-- tem que pegar o link do profile do profissional, serviço e usuário que comprou, mudar quando der build -->
		<p><a href="<%= @base_url %>profile/<%= @user.id %>"><%= @user.name %></a> acabou de solicitar o pré-agendamento da atividade:</p>
		<p><a href="<%= @base_url %>aventura/<%= @service.id %>"><%= @service.name %></a> de <a href="<%= @base_url %>profile/<%= @professional.id %>"><%= @professional.user.name %></a> no dia <%= @appointment.daytime.to_s(:day_at_hour) %></p>
		<table style="width:100%">
			<tr>
				<td><%= @service.name %></td>
				<td>R$ <%= @acquisition.base_price %></td> 
			</tr>
			<% if @acquisition.additional %>
				<tr>
					<td><%= @acquisition.additional.description %></td>
					<td>R$ <%= @acquisition.additional.excess %></td> 
				</tr>
			<% end %>
			<tr>
				<td>Nº Pessoas</td>
				<td><%= @acquisition.slots %></td> 
			</tr>
			<tr>
				<td>Total</td>
				<% if @acquisition.additional %>
					<td><%= ( @acquisition.additional.excess + @acquisition.base_price.to_i ) * @acquisition.slots.to_i %></td>
				<% else %>
					<td><%= @acquisition.base_price * @acquisition.slots.to_i %></td>
				<% end %>
			</tr>
		</table>
		<%= if @appointment.doubt %>
			<p>Dúvida:</p>
			<p><%= @appointment.doubt %></p>
		<%= end %>
	</body>
</html>